{% extends 'homepage/base.html' %}

{% block title %}
	Petzee!!-About
{% endblock %}
		
	{% block content %}
		<div class="container">
			<h1 class="padtop">Make difference in the life of your beloved.</h1>
			<div class="row">
				<div class="col-4">
					<div class="alert alert-secondary" role="alert"  style="min-height: 200px;">
					  	<h2>SERVICES PROVIDED</h2>
					  	we deal with a range of varied behavious pets with substantial uderstanding of their habits, likes and dislikes, 
					</div>
				</div>
				<div class="col-4">
					<div class="alert alert-secondary" role="alert"  style="min-height: 200px;">
						<h2>FAQ</h2>
						My pet will be all right after it is being trated wth the surgery...?
					</div>
				</div>
				<div class="col-4">
					<div class="alert alert-secondary" role="alert"  style="min-height: 200px;">
						<h2>RATES and INSURANCE</h2>
						The pet benifitial policies.
					</div>
				</div>
				<!--<div class="col">
					<div class="alert alert-secondary" role="alert"  style="min-height: 200px;">
						{% for blogs in blog1 %}
							<h2>{{ blogs.head}}</h2>
							{{ blogs.body }}
						{% endfor %}
					</div>
				</div>-->
			</div>
			<div class="col-8">
			<p style="padding-top: 100px; line-height: 35px">Today, you have taken another step in your journey towards growth and well-being of your beloved pet.As a solution-focused therapist, I can help you tap into your inherent strengths and uncover your true potential. Helping you understand and resolve challenges in your life is my focus. Through enhancing your personal tools, I can help you overcome life’s painful experiences and help you grow in all areas of your life.Whether you’re just looking for guidance through a difficult situation or you’re looking to empower yourself and head in a new direction in life, I can help you achieve your goals.Please Contact me for a consultation today.</p>

		</div>

    {% endblock %}