{% extends 'homepage/base.html' %}

{% block title %}
	PetZee!!-Home
{% endblock %}
		
	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-6">
					<p style="padding-top: 100px; line-height: 75px; font-size: 40px; color: green;">whats driving you crazy about your pet..? Barking at neighbours, other dogs and you.Chewing your favourite shoe.Jumping on you and your friends.Pulling on leash.House breaking issues, and more...
					</p></span>
				</div>
				
			</div>
		</div>
	{% endblock %}
    