{% extends 'base.html' %}

{% block title %}
	PetZee!!-ervices
{% endblock %}

{% block content %}
	<div style="color: black" class="container">
		<h1 style="padding-top: 50px; color: black;">Rates</h1>

 

<h3>$110 per 50-minute session</h3>

 

<h1 style="padding-top: 50px">Insurance</h1>

 

<h3>Therapeutic services may be covered by your health insurance policy or employee benefits plan. Please check with your policy provider by asking the following questions:<br>

 

Do I have mental health insurance benefits?
What is my deductible?
How many sessions does my health insurance cover?
What is the coverage amount per session?
Do I need approval from my family physician?</h3>
 

<h1 style="padding-top: 50px">Payment</h1>

 

<h3>Cash, check and all major credit cards are accepted for payment.</h3>

 

<h1 style="padding-top: 50px">Cancellation Policy</h1>

 

<h3>You must notify us at least 24 hours in advance if you wish to cancel your therapy appointment. Otherwise, you will need to bear the full cost of the session.</h3>

	</div>
{% endblock %}