body{
    background-image: url(dog1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0f121f;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}


.padtop{
  padding-left: 50px;
	padding-top: 50px;
  padding-bottom: 50px;
}

.nav1{
  color: white;
  font-size: 18px;
}

.padblog{
  padding-left: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5PX;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}

.errorlist li{
    
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}